header {
  margin-top: 2%;
  height: 50px;
}


.LanguageAndLoginBtn {
  margin-left: 10%;
  margin-top: 5px;
  display: flex;
}

.LanguageAndLoginBtn button {
  padding: 20px;
  border-radius: 50px;
  border: none;
  font-weight: 550;
  margin-left: 5px;
  cursor: pointer;
  height: 10px;
  align-items: center;
  justify-content: center;
  display: inline-flex;

}

.LanguageAndLoginBtn .languagebtn:hover {
  background: #ccc;
}


.LanguageAndLoginBtn .languagebtn img {
  width: 25px;
  height: 25px;
  margin-top: 1px;
}

.LanguageAndLoginBtn .languagebtn .txt {
  margin-left: 10px;
  margin-top: 3px;
}

.LanguageAndLoginBtn .languagebtn .divider {
  width: 1px;
  height: 20px;
  background: #ccc;
  margin-left: 15px;
}


.icon img {
  width: 40%;
}


header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  width: 100%;
}

.header-container {
  display: flex;
  gap: 6px;
  justify-content: start;
  align-items: center;
}

.tripadvisor-image {
  width: 18%;
}

.select {
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.button_layout {
  margin-left: 260px;
  margin-right: auto;
  white-space: nowrap;

}

.button_layout button {
  border-radius: 99px;
  font-weight: 550;
  font-size: 17px;
  width: 100px;
  color: #1c4219;
  height: 45px;
}

.button_layout :hover {
  background-color: #a1a1a117;
}

.signin button {
  border-radius: 99px;
  font-weight: 600;
  font-size: 100%;
  width: 90px;
  background-color: #234720;
  color: #ffffff;
  height: 45px;
}

.signin :hover {
  background-color: #60795e;
}
