body.suggestion-open {
  background: rgba(0, 0, 0, 0.3);
}

.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;

  width: 100%;
  align-items: center;
}

.main_container h1 {
  font-size: 4rem;
  color: #11310e;
  font-weight: 900;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buttons2 {
  display: flex;
  gap: 13px;
  justify-content: center;
  margin-top: 24px;
  margin-top: 0;
  display: flex;
  align-items: center;
}


.buttons2 button {
  white-space: nowrap;
  display: flex;
  align-items: center;
  color: #1c4718;
  background: none;
  border: none;
  font-size: 12px;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  position: relative;
}


.buttons2 button img {
  width: 25px;
  height: 25px;
}

.buttons2 button {
  padding: 10px;
  position: relative;
}

.buttons2 button::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #0d3326;
  border-radius: 4px;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.buttons2 button:hover::after,
.buttons2 button.active::after {
  width: 100%;
}

.rewards {
  margin-top: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.rewards img {
  border-radius: 17px;
  width: 100%;
}

.search-wrapper {
  display: flex;
  align-items: center;
  width: 830px;
  max-width: 70%;
  height: 50px;
  margin: 50px auto;
  padding: 8px 14px;
  border: 2px solid #ddddddb7;
  background: #acacac13;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  position: relative;
  margin-top: 3%;
  margin-bottom: 16%;
}

.search-icon {
  width: 16px;
  height: 20px;
  margin-left: 14px;
  margin-right: 10px;
  opacity: 0.6;
}

.search-wrapper input {
  flex: 1;
  background: #acacac00;
  width: 700px;
  max-width: 500px;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 14px 10px;
}


.search-wrapper .searchButton:hover {
  background: #255c37;
}

.search-wrapper img {
  width: 20px;
  margin-left: 3px;
}

.search-wrapper .searchButton {
  border: none;
  background: #108638;
  padding: 12px 28px;
  padding-top: 9px;
  color: white;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 40px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.search-wrapper .searchButton:hover {
  background: #255c37;
}

.search-wrapper .searchButton {
  margin-left: auto;
}

.search-wrapper input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.suggestions {
  list-style: none;
  padding: 0;
  padding-left: 15px;
  margin: 0;
  border-radius: 20px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  border-top: none;
  overflow-y: auto;
  max-height: 500px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  z-index: 10;
}

.suggestions li {
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #eee;

}

.suggestions li:hover {
  background-color: #b4b4b457;
  cursor: pointer;
}

.items {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100px;

}

.items img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 5px;
}

.items div {
  display: flex;
  flex-direction: column;
}

.items button {
  background: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  border: none;
  text-align: left;
  padding: 0;
  cursor: pointer;
  height: 40px;
  font-size: 20px;
  font-weight: 500;
  color: #333;
}

.items p {
  margin: 0;

  font-size: 13px;
  color: #666;
}


.featuredBadge {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 14px;
  border-radius: 14px;
  background: #ffffff;
  font-size: 18px;
  font-weight: 600;
  color: #111;
}

.featuredBadge img {
  width: 60px;
  height: auto;
}

.featuredBadge #year {
  font-weight: 100;
}

.featured-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
}

.featuredPlacesList {
  margin-top: 20%;
}

.featuredPlacesList h2 {
  font-weight: 500;
  font-family: "Montserrat";
}

.featuredPlacesList ul {
  display: flex;
  margin-top: auto;
  flex-wrap: nowrap;
  gap: 20px;
  list-style: none;
  padding: 0;
  overflow-x: hidden;
}


.featured-item {
  flex: 0 0 35%;
  max-width: 30%;
  background: #fff;
  border-radius: 15px;
}


.image-wrapper {
  position: relative;
  height: 180px;
}

.placeImg {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.fav-btn img {
  width: 20px;
}

.fav-btn {
  position: absolute;
  top: 12px;
  width: 40px;
  height: 40px;
  right: 12px;
  background: white;
  border: none;
  border-radius: 50%;
  padding: 9px;
  padding-top: 12px;
  cursor: pointer;
}

/* Info */

.info {
  margin-top: 150px;
  padding-left: 4px;
}

.city {
  margin-top: auto;
  display: flex;
  justify-content: start;
}

.info h3 {
  display: flex;
  justify-content: start;
  font-size: 23px;
  margin-top: 0px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 8px;

}

.rating2 {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 17px;
  margin-bottom: 8px;
}

#review {
  font-size: 16px;
  margin-left: 10px;
}

.rating2 p {
  font-size: 179x;
  margin-right: 7px;
  font-family: 'Montserrat', sans-serif;
}

.rating-number {
  font-weight: bold;
}

.circle2 {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #0b8a3b;
}

.circle2.full {
  background: #0b8a3b;
}

.circle2.empty {
  background: transparent;
}

.circle2.half {
  background: linear-gradient(to right,
      #0a8f3c 50%,
      transparent 50%);
}


.price {
  font-size: 14px;
  font-weight: 500;
}

.slider-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}


.nav {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  z-index: 999;
  background: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 22px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.nav.left {
  left: 10px;
}

.nav.right {
  right: 10px;
}




.donate-wrapper {
  max-width: 1280px;
  margin: 80px auto;
  margin-top: 15%;
  display: flex;
  background: #c4c4c433;
  align-items: center;
  font-family: "Montserrat";
  overflow: hidden;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
}

.donate-left {
  width: 60%;
}

.donate-left img {
  margin-left: 5%;
  width: 100%;
  height: 90%;
}

.donate-right {
  width: 50%;
  padding: 72px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;   
  text-align: center;    
}


.donate-brand {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #1f7a5a;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 28px;
}

.brand-icon  {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 100;
  font-family: "Montserrat";
}
.brand-icon img{
  width: 30px;
}
.donate-title {
  font-size: 37px;
  font-weight: 500;
  color: #000;
  margin-bottom: 24px;
}

.donate-text {
  font-size: 16px;
  line-height: 1.7;
  color: #4b4b4b;
  max-width: 520px;
  margin-bottom: 40px;
}

.donate-button {
  background-color: #0b3d2e;
  color: #fff;
  border: none;
  border-radius: 999px;
  padding: 14px 36px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Montserrat";
  cursor: pointer;
  width: fit-content;
  transition: background-color 0.25s ease;
}

.donate-button:hover {
  background-color: #115c45;
}


/**/
.message-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.message {
  background: #fff;
  width: 600px;
  height: 700px;
  padding: 28px 24px;
  border-radius: 14px;
  position: relative;
  font-family: system-ui, sans-serif;
}

.close {
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}
.message-title{
  width: 70%;
  padding: 30px;
}
.message-title img {
  width: 90px;
  margin-bottom: 12px;
}

.message h2 {
  font-size: 34px;
  font-weight: 700;
  color: #072409;
  margin-bottom: 22px;
}
.buttons6{
  padding: 30px;
  padding-top: 0;
  margin-top: 0;
}

.buttons6 button {
  width: 100%;
  height: 70px;
  padding: 12px;
  border-radius: 999px;
  border: 1px solid #333333;
  background: #fff;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 16px; 
}

.buttons6 button {
  margin-top: 12px;
}
.buttons6 p{
  font-size: large;
  font-family: "Montserrat";
  margin-left: 180px;
  color: #1b2438;
}

.btn:hover {
  background: #f5f5f5;
}
.terms {
  width: 70%;
  margin-top: 120px;
  margin-left: 80px;
  font-size: 15px;
  color: #666;
  text-align: center;
}

.terms span {
  text-decoration: underline;
  cursor: pointer;
}
